<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>1619089.9123862016</real>
	<key>iframe_MaxBitRate</key>
	<real>210547.34738945292</real>
	<key>iframe_avgBitRate</key>
	<real>36558.056967473713</real>
	<key>maxBitRate</key>
	<real>6144486.724482988</real>
	<key>videoCodecInfo</key>
	<string>avc1.640020</string>
	<key>videoDimensions</key>
	<dict>
		<key>Height</key>
		<real>576</real>
		<key>Width</key>
		<real>1024</real>
	</dict>
</dict>
</plist>
